html {
  scroll-behavior: smooth;
}

body {
  max-width: 80%;
  margin: 0 auto;
  font-family: "Poppins";
  text-align: center;
  color: #000000;
  font-size: 24px;
}

.arrow-up {
  position: fixed;
  bottom: 20px;
  right: -40px;
  width: 50px;
  z-index: 1;
  cursor: pointer;
  transition: .3s;
  opacity: 0;
}

.arrow-up.show:hover{
  opacity: .9;
}

.arrow-up.show {
  opacity: 0.4;
  right: calc(3%);
}

/*--------HEADER------*/
.nav {
  background-color: #f1bb1b;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 23px 0;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}

.nav__list-item {
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s;
}

.nav__list-item:hover {
  color: #ffff;
  opacity: .8;
}

.nav__toggle,
.nav__btn {
  display: none;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  position: relative;
  left: 40px;
  background-color: #f1bb1b;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
  padding: 10px 0 12px;
}

.logo {
  width: 50px;
  transition: .3s;
}

.logo:hover {
  filter: invert(100%);
  transition: .3s;
  opacity: .8;
}

.avatar {
  max-width: 400px;
  /* min-width: 200px; */
  width: 100%;
  border-radius: 50%;
  padding: 8px;
  border: 8px solid black;
  box-shadow: 154px 110px 1px #f1bb1b;
}

.name__title {
  font-size: 110px;
  text-transform: uppercase;
  margin-top: 50px;
}

.name__title_bold {
  font-weight: 700;
}

/*--------MAIN------*/

.title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 80px auto 50px;
  border-bottom: 20px solid #f1bb1b;
}

.text {
  line-height: 1.5;
}

.about__text {
  text-align: justify;
}

.about__row{
  display: flex;
  justify-content: space-between;
}

.skills,
.eng{
  width: 25%;
}

.education {
  width: 40%;
}

.code__example {
  display: flex;
  justify-content: center;
  text-align: left;
  background-color: #faeaba;
  border: 10px solid #f1bb1b;
  border-radius: 45px;
  padding: 20px;
  transition: .3s;
}

.code__example:hover {
  filter: invert(100%);
}

.project__inner{
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

.project__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.project__subtitle {
  font-size: 20px;
  opacity: .6;
}

.project__img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  border-radius: 45px;
  transition: .3s;
}

.project__img:hover {
  filter: unset;
}

.project__description {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: .5;
}

/*--------FOOTER------*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1bb1b;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding: 10px 0;
}

.rss-logo {
  width: 110px;
}

.year {
  position: relative;
  left: 30px;
  font-weight: bold;
}


@media (max-width: 1350px){
  .nav__list{
    font-size: 20px;
  }
}

@media (max-width: 1050px) {
  body{
    font-size: 18px;
  }

  .nav__list{
    font-size: 18px;
  }

  .title{
    font-size: 40px;
    border-bottom: 15px solid #f1bb1b;
  }
}

@media (max-width: 960px){
  .header__inner {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  .contacts {
    width: 70%;
    left: 0;
    box-shadow: unset;
    border-radius: 45px;
  }

  .nav {
    background-color: transparent;
  }

  .nav__list {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #f1bb1b;
    box-shadow: 1px 0px 40px rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 90px 0 25px;
    transition: .3s;
    font-size: 30px;
  }

  .nav__list-item {
    line-height: 1.5;
  }

  .nav__toggle {
    opacity: 0;
  }

  .nav__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 56px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    outline: none;
  }

  .nav__btn>span,
  .nav__btn>span::before,
  .nav__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #000000;
    transition: .3s;
  }

  .nav__btn>span::before {
    content: "";
    top: -16px;
  }

  .nav__btn>span::after {
    content: "";
    top: 16px;
  }

  .nav__toggle:checked~.nav__btn>span {
    transform: rotate(45deg);
  }

  .nav__toggle:checked~.nav__btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  .nav__toggle:checked~.nav__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .nav__toggle:checked~.nav__list {
    left: 0;
  }

  .name__title{
    font-size: 80px;
  }
}

@media (max-width: 864px){
  .about__row{
    display: block;
  }

  .skills,
  .education,
  .eng{
    width: 100%;
  }

  .project__inner{
    display: block;
  }

  .project__img:first-child{
    margin-bottom: 50px;
  }
}

@media (max-width: 720px){
  .avatar{
    padding: 5px;
    border: 5px solid black;
  }

  .name__title{
    font-size: 50px;
  }
}

@media (max-width: 576px){
  .code__example{
    font-size: 12px;
  }

  .footer{
    padding: 10px 10px;
  }

  .github-logo{
    width: 30px;
  }

  .rss-logo{
    width: 70px;
  }

  .year{
    font-size: 15px;
    left: 20px;
  }
}